body {
  background-color: slategray;
}

#game {
  width: 500px;
  height: 500px;
  border: 2px solid #cafebabe;
}

#player {
  background-image: url("../public/assets/characters/character1.png");
  width: 32px;
  height: 40px;
  background-size: 400%;
  background-position-x: 0;
  background-position-y: 0;
  image-rendering: pixelated;
}
