:root {
  --tile-size: 32;
  --row-num: 10;
  --col-num: 10;
  --hitboxH: 30;
  --hitboxW: 20;
  --hitboxX: 8;
  --hitboxY: 12;
  --regX: 16;
  --regY: 28;
}

body {
  background-color: slategray;
}

#board {
  border: 2px solid #cafebabe;
  position: relative;
  display: grid;
  grid-template-rows: repeat(var(--row-num), max-content);
  grid-template-columns: repeat(var(--col-num), max-content);
  overflow: hidden;
}

#player {
  z-index: 10;
  background-image: url("../public/assets/characters/character10.png");
}

.character {
  background-size: 400%;
  image-rendering: pixelated;
  position: absolute;
}

.health-container {
  width: 100%;
  height: 5px;
  background-color: black;
  border: 2px solid black;
}

.health {
  height: 5px;
  background-color: lawngreen;
}

.enemy {
  background-image: url("../public/assets/characters/character5.png");
}
.enemy > .health-container > .health {
  height: 5px;
  background-color: red;
}

.dead {
  filter: grayscale(100%) blur(1px);
}

@keyframes blink-red {
  50% {
    filter: drop-shadow(0 0 10px red);
  }
}

@keyframes blink-saturate {
  50% {
    filter: saturate(800%);
  }
}

.character.move {
  animation: moving 0.5s infinite step-end;
}

.character.collision {
  animation: blink-saturate 0.5s infinite;
}

.character.move.collision {
  animation: moving 0.5s infinite step-end, blink-saturate 0.5s infinite;
}

@keyframes moving {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: 100%;
  }
  50% {
    background-position-x: 200%;
  }
  75% {
    background-position-x: 300%;
  }
  100% {
    background-position-x: 400%;
  }
}

#player-stats {
  color: #cafebabe;
  font-family: monospace;
  font-weight: bold;
  font-size: large;
}

.tile {
  width: calc(var(--tile-size) * 1px);
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: pixelated;
}

.abyss {
  background-image: url("../public/assets/images/tiles/abyss.png");
}
.cliff {
  background-image: url("../public/assets/images/tiles/cliff.png");
}
.door {
  background-image: url("../public/assets/images/tiles/door.png");
}

.fence_hori {
  background-image: url("../public/assets/images/tiles/fence_hori.png");
}
.fence_vert {
  background-image: url("../public/assets/images/tiles/fence_hori.png");
}

.floor_planks {
  background-image: url("../public/assets/images/tiles/floor_planks.png");
}
.floor_stone {
  background-image: url("../public/assets/images/tiles/floor_stone.png");
}
.floor_wood {
  background-image: url("../public/assets/images/tiles/floor_wood.png");
}
.floor_carpet {
  background-image: url("../public/assets/images/tiles/floor_carpet.png");
}

.flowers {
  background-image: url("../public/assets/images/tiles/flowers.png");
}
.gate {
  background-image: url("../public/assets/images/tiles/gate.png");
}
.grass {
  background-image: url("../public/assets/images/tiles/grass.png");
}
.lava {
  background-image: url("../public/assets/images/tiles/lava.png");
}
.mine {
  background-image: url("../public/assets/images/tiles/mine.png");
}
.path {
  background-image: url("../public/assets/images/tiles/path.png");
}
.redwall {
  background-image: url("../public/assets/images/tiles/redwall.png");
}
.tree {
  background-image: url("../public/assets/images/tiles/tree.png");
}
.wall {
  background-image: url("../public/assets/images/tiles/wall.png");
}
.water {
  background-image: url("../public/assets/images/tiles/water.png");
}
.well {
  background-image: url("../public/assets/images/tiles/well.png");
}

.show-hitbox::after {
  content: "";
  position: absolute;
  width: calc(var(--hitboxW) * 1px);
  height: calc(var(--hitboxH) * 1px);
  translate: calc(var(--hitboxX) * 1px) calc(var(--hitboxY) * 1px);
  outline: 2px solid hotpink;
}

.show-reg::before {
  content: "";
  position: absolute;
  background-color: cyan;

  width: 3px;
  height: 3px;

  translate: calc(var(--regX) * 1px) calc(var(--regY) * 1px);
}

.show-rect {
  outline: 1px solid red;
}

.show-grid-outline {
  outline: 1px dashed #cafebabe;
}

.highlight-player-tile {
  outline: 2px solid blue;
  translate: 0 0;
}

.highlight-enemy-tile {
  outline: 1px solid red;
  translate: 0 0;
  box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.2);
}
