body {
  background-color: slategray;
}

#board {
  border: 2px solid #cafebabe;
  position: relative;
}

#player {
  background-image: url("../public/assets/characters/character10.png");
}

.character {
  background-size: 400%;
  image-rendering: pixelated;
  position: absolute;
}

.health-container {
  width: 100%;
  height: 5px;
  background-color: black;
  border: 2px solid black;
}

.health {
  height: 5px;
  background-color: lawngreen;
}

.enemy {
  background-image: url("../public/assets/characters/character5.png");
}
.enemy > .health-container > .health {
  height: 5px;
  background-color: red;
}

.dead {
  filter: grayscale(100%);
}

.collision {
  animation-name: blink;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  50% {
    background-color: red;
  }
}

.move {
  animation-name: move;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

@keyframes move {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: 100%;
  }
  50% {
    background-position-x: 200%;
  }
  75% {
    background-position-x: 300%;
  }
  100% {
    background-position-x: 400%;
  }
}
