body {
  background-color: slategray;
}

#board {
  border: 2px solid #cafebabe;
  position: relative;
}

#player {
  z-index: 10;
  background-image: url("../public/assets/characters/character10.png");
}

.character {
  background-size: 400%;
  image-rendering: pixelated;
  position: absolute;
}

.health-container {
  width: 100%;
  height: 5px;
  background-color: black;
  border: 2px solid black;
}

.health {
  height: 5px;
  background-color: lawngreen;
}

.enemy {
  background-image: url("../public/assets/characters/character5.png");
}
.enemy > .health-container > .health {
  height: 5px;
  background-color: red;
}

.dead {
  filter: grayscale(100%);
}

@keyframes blink-red {
  50% {
    filter: drop-shadow(0 0 10px red);
  }
}
@keyframes blink-gold {
  50% {
    filter: drop-shadow(0 0 10px gold);
  }
}

@keyframes blink-green {
  50% {
    filter: drop-shadow(0 0 10px lawngreen);
  }
}

.character.move {
  animation: moving 0.5s infinite step-end;
}

.character.collision {
  animation: blink-red 0.5s infinite;
}

.character.move.collision {
  animation: moving 0.5s infinite step-end, blink-red 0.5s infinite;
}

.character.invulnerable {
  animation: blink-gold 0.5s infinite;
}

.character.move.invulnerable {
  animation: moving 0.5s infinite step-end, blink-gold 0.5s infinite;
}

.character.levelup {
  animation: blink-green 0.5s infinite;
}

.character.move.levelup {
  animation: moving 0.5s infinite step-end, blink-green 0.5s infinite;
}

@keyframes moving {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: 100%;
  }
  50% {
    background-position-x: 200%;
  }
  75% {
    background-position-x: 300%;
  }
  100% {
    background-position-x: 400%;
  }
}
